{% extends 'base.html' %}


{% block menu %}
<!--		<li><a href="#">Packages</a></li>
		<li class="last"><a href="#">Components</a></li>-->
{% endblock menu %}

{% block content %}


<div id="main">

{% if step_id %}
	<h2><a href="/start/">Step name: {{step.name}}</a></h2>
{% endif %}
	<div id="package-list" class="ui-widget-content ui-corner-all">
		<h3 class="ui-widget-header ui-corner-all">Description</h3>
	{% if step_id %}
		{{ step.description }}
        {% else %}	

This is a cool tool:</br>
- It helps you fill all data to quickly analyse your issue and give you response. </br>
- It surrest you or provide you final solution in case of tipical problems.</br>
- It could inform you about current infrastructural isues before trying to raise a ticket. </br>

        {% endif %}
	</div>
        {% if step_id %}
        <div id="package-list" class="ui-widget-content ui-corner-all">
                <h3 class="ui-widget-header ui-corner-all">Resolution suggestion based on previous answers</h3>
                Not available yet, but that will be cool.

        </div>
        {% endif %}
        <form action="/post_redirect/" method="post">
        {% csrf_token %}

	<div id="package-list" class="ui-widget-content ui-corner-all">
        	<h3 class="ui-widget-header ui-corner-all">Choose Problem category / Next step</h3>
		<select name="next_step">
		{% for step in next_steps %}
        		<option value="{{ step.id }}">{{ step.name }}</option>
		{% endfor %}
		</select>

	</div>


	<div id="package-list" class="ui-widget-content ui-corner-all">
		<h3 class="ui-widget-header ui-corner-all">Fill following fields</h3>
		<div class="package_table">

			{% if fields %}
			<table width="100%" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th><h3>Name</h3></th>
						<th><h3>Field</h3></th>
					</tr>
				</thead>
				<tbody>
					{% for field in fields %}
					<tr class="{% cycle 'dark' 'light' %}">
						<td>
							<!--h3><a href="{{ package.get_absolute_url }}">{{ package.version }}</a></h3-->
							{{ field.name }}
						</td>
						<td>
							<p><input id="field_{{ field.id }}" maxlength="250" name="field_{{ field.id }}" type="text" /></p>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
				We will ask you to fill a fields here if we'll near more information about your case.
			{% endif %}
		</div>
	</div>
	
	<div id="refresh_comp_button">
                <input type="submit" value=" Submit ">
	</div>
        </FORM>
</div>


	<div id="side" class="ui-widget-content ui-corner-all">
		<h3 class="ui-widget-header ui-corner-all">Help window</h3>
		<ul>
			<li><a href="#">Problem category</a><br />Please provide problem category as detailed as possible. You can choose to create a ticket anytime and data provided will be send to us.</li>
			<li><a href="#">Filling fields</a><br />Please fill suggested fields, this will speedup ticket resolution and could provide automatic resolution of your problem.</li>
			<li><a href="#">Automatic resolution</a><br />In this tab, you can find automatic resulution suggestion, based on provided data. When resolution will be enabled, we will show it to you.</li>
		</ul>
	</div>


{% endblock content %}
